@font-face {
  font-family: "Glober Regular";
  src: url("../fonts/GloberRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Glober Light";
  src: url("../fonts/GloberLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Glober Bold";
  src: url("../fonts/GloberBold.woff2") format("woff2"), url("../fonts/GloberBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circle Bold";
  src: url("../fonts/Circe-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
}
.page-main__block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1335px;
  height: 300px;
  margin: 0 auto;
  border: 1px solid grey;
  padding-top: 50px;
}
.page-main__block p {
  font-family: "Glober Regular", "Arial", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
.main-nav--fixed {
  position: fixed;
  top: 0;
  z-index: 2;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}
.container {
  width: 1100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}
.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2a292a;
  position: relative;
  z-index: 1;
}
.main-menu__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.main-menu__item:first-child .main-menu__link {
  padding-left: 17px;
  padding-right: 16px;
}
.main-menu__item:last-child .main-menu__link {
  padding-right: 23px;
}
.main-menu__item--active {
  background-color: #ffc000;
  -webkit-transition: background-color 600ms;
  transition: background-color 600ms;
}
.main-menu__item--active .main-menu__link {
  color: #2a292a;
}
.main-menu__link {
  font-family: "Glober Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 13px;
  padding-top: 15px;
  position: relative;
  display: block;
  padding-bottom: 9px;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}
.main-menu__link--active {
  color: #2a292a;
  background-color: #ffc000;
}
.main-menu__link:hover,
.main-menu__link:focus,
.main-menu__link:active {
  color: #2a292a;
  background-color: #ffc000;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}
.main-menu__link::before,
.main-menu__link::after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 2px;
  background-color: #222428;
  top: 23px;
}
.main-menu__link::before {
  left: 0;
}
.main-menu__link::after {
  right: 0;
}
.page-header {
  background-image: url("../img/header-background.jpg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  padding-top: 8px;
}
.page-header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 21px;
  padding-right: 9px;
  margin-bottom: 6px;
}
.page-header__logo-image {
  margin-bottom: -5px;
}
.page-header__logo-text {
  font-family: "Glober Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #2a292a;
  letter-spacing: 0.01em;
  margin: 0;
  padding: 0;
}
.page-header__phone-wrapper {
  margin-left: auto;
  margin-right: 43px;
  padding-top: 20px;
}
.page-header__phone {
  position: relative;
  font-family: "Glober Regular", "Arial", sans-serif;
  font-size: 26px;
  line-height: 47px;
  color: #18a2bd;
  margin: 0;
  padding: 0;
  padding-left: 33px;
  margin-bottom: -11px;
}
.page-header__phone::before {
  position: absolute;
  display: block;
  left: 0;
  top: 6px;
  content: "";
  width: 26px;
  height: 26px;
  background-image: url("../img/icon-phone.png");
  background-repeat: no-repeat;
}
.page-header__phone-text {
  font-family: "Glober Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #2a292a;
  letter-spacing: 0.001em;
  margin: 0;
  padding: 0;
}
.page-header__call-order {
  position: relative;
  display: block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-family: "Glober Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #2a292a;
  text-transform: uppercase;
  background-color: #ffc000;
  padding: 12px 0 8px 0;
  width: 216px;
  text-align: center;
  margin-bottom: 6px;
  text-decoration: none;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}
.page-header__call-order::before,
.page-header__call-order::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #222428;
  top: 19px;
}
.page-header__call-order::before {
  left: 0;
}
.page-header__call-order::after {
  right: 0;
}
.page-header__call-order:hover,
.page-header__call-order:focus {
  background-color: #2a292a;
  color: #ffffff;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}
.banner {
  position: relative;
  background-image: url("../img/banner-background.jpg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  padding-top: 21px;
  padding-bottom: 23px;
  top: -21px;
  margin-bottom: -31px;
}
.banner__title {
  margin: 0;
  font-family: "Glober Regular", "Arial", sans-serif;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  background-color: #18a2bd;
  padding: 21px 0 6px 0;
  color: #ffffff;
  text-align: center;
}
.banner__wrapper {
  width: 660px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10px;
  padding: 7px 0 37px 20px;
  background-color: #ffffff;
  position: relative;
}
.banner__wrapper::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 257px;
  height: 142px;
  left: -117px;
  bottom: -53px;
  background-image: url("../img/towel.png");
  background-repeat: no-repeat;
}
.banner__link {
  font-family: "Glober Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  color: #2a292a;
  background-color: #ffc000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 30px 0 30px;
  margin-left: 202px;
  width: 216px;
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}
.banner__link::before,
.banner__link::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #222428;
  top: 18px;
}
.banner__link::before {
  left: 0;
}
.banner__link::after {
  right: 0;
}
.banner__link:hover,
.banner__link:focus {
  background-color: #2a292a;
  color: #ffffff;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}
.banner__link:hover .banner__link-arrow,
.banner__link:focus .banner__link-arrow {
  background-color: #2a292a;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}
.banner__link:hover .banner__link-arrow::after,
.banner__link:focus .banner__link-arrow::after {
  border-left-color: #ffffff;
  border-bottom-color: #ffffff;
  -webkit-transition: border-color 500ms;
  transition: border-color 500ms;
}
.banner__link:hover .banner__link-arrow::before,
.banner__link:focus .banner__link-arrow::before {
  background-color: #ffffff;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}
.banner__link-arrow {
  position: absolute;
  display: block;
  width: 23px;
  height: 23px;
  background-color: #ffc000;
  border-radius: 50%;
  top: 42px;
  left: 96px;
}
.banner__link-arrow::after {
  content: "";
  position: absolute;
  z-index: 2;
  border-left: 3px solid #2a292a;
  border-bottom: 3px solid #2a292a;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 4px;
  height: 4px;
  top: 7px;
  left: 6px;
}
.banner__link-arrow::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #2a292a;
  top: 7px;
  left: 10px;
}
.text-banner__title {
  font-family: "Glober Bold", "Arial", sans-serif;
  font-size: 26px;
  line-height: 49px;
  color: #18a2bd;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: -11px;
}
.text-banner__title-text {
  font-family: "Glober Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  margin: 0;
}
.text-banner__text {
  font-family: "Glober Light", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #2a292a;
  margin: 0;
  margin-bottom: 12px;
}
.text-banner__main-text-wrapper {
  margin-left: 10px;
  border-left: 2px solid #222428;
  padding-left: 8px;
  margin-bottom: 16px;
}
.short-video {
  background-color: #18a2bd;
  width: 1335px;
  margin: 0 auto;
}
.short-video__description {
  padding: 69px 19px 30px 19px;
}
.short-video__text1,
.short-video__text2 {
  font-family: "Glober Regular", "Arial", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}
.short-video__text1 {
  font-size: 26px;
  line-height: 30px;
}
.short-video__text2 {
  font-size: 16px;
  line-height: 20px;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px) translateX(-50%);
            transform: translateY(-2000px) translateX(-50%);
  }
  70% {
    -webkit-transform: translateY(30px) translateX(-50%);
            transform: translateY(30px) translateX(-50%);
  }
  90% {
    -webkit-transform: translateY(-10px) translateX(-50%);
            transform: translateY(-10px) translateX(-50%);
  }
  100% {
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px) translateX(-50%);
            transform: translateY(-2000px) translateX(-50%);
  }
  70% {
    -webkit-transform: translateY(30px) translateX(-50%);
            transform: translateY(30px) translateX(-50%);
  }
  90% {
    -webkit-transform: translateY(-10px) translateX(-50%);
            transform: translateY(-10px) translateX(-50%);
  }
  100% {
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
}
.modal {
  position: fixed;
  top: 120px;
  left: 50%;
  z-index: 4;
  display: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  width: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  background-color: #ffffff;
}
.modal--show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}
.modal__title {
  margin: 0;
  font-family: "Glober Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #2a292a;
  margin-bottom: 10px;
}
.modal__submit {
  position: relative;
  display: block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-family: "Glober Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #2a292a;
  text-transform: uppercase;
  background-color: #ffc000;
  padding: 12px 0 8px 0;
  width: 216px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 6px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}
.modal__submit::before,
.modal__submit::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #222428;
  top: 19px;
}
.modal__submit::before {
  left: 0;
}
.modal__submit::after {
  right: 0;
}
.modal__submit:hover,
.modal__submit:focus {
  background-color: #2a292a;
  color: #ffffff;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}
.modal__close {
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  font-size: 0;
  background-color: #ffc000;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}
.modal__close:hover,
.modal__close:focus {
  background-color: #2a292a;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}
.modal__close:hover::before,
.modal__close:focus::before,
.modal__close:hover::after,
.modal__close:focus::after {
  background-color: #ffffff;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}
.modal__close::before,
.modal__close::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 6px;
  width: 50%;
  height: 2px;
  background-color: #2a292a;
}
.modal__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.form__input {
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Glober Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  padding: 15px 10px 10px;
  border: 1px solid grey;
  margin-bottom: 10px;
}
.form__input--valid {
  border-bottom: 2px solid green;
}
.form__input--invalid {
  border-bottom: 2px solid red;
}
.form__error {
  margin: 0;
  font-family: "Glober Regular", "Arial", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  color: red;
}
.overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.overlay--active {
  display: block;
}
